# path to the architecture definition file
architecture: 'config/architecture.yml'
# source folder of the program to analyze
source: 'src'
# output folder for architecture analysis results
output: './tmp'

# PHP dependency analysis config
phpDa:
    # folders within src to ignore
    ignore: ['tests']
    # glob file name pattern the analyzed files have to match
    filePattern: '*.php'